.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-basis: 0;
    margin: 50px;
    
}


  .grid-container {
    background-color: #000;
    width: 640px;
    height: 642px;
    display: grid;
    grid-template-rows: 265px 155px 175px 20px;
    grid-template-columns: 70px 211px 186px 146px;
    gap: 9px;
  }

  .red {
    background-color: #E72F24;
    grid-area: 1 / 1 / 2 / 3;
  }

  .two {
    grid-column: span 2;
  }

  .three {
    grid-column: span 2;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .four {
    grid-column: span 2;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .yellow {
    background-color: #F9D01E;
    grid-row: span 2;
  }

  .six {
    grid-row: span 2;
  }

  .eight {
    grid-row: span 2;
  }


  .blue {
    background-color: #004592;
  }

  .white {
    background-color: #F0F1EC;
  }

  .text {
    width: 640px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  @media (max-width: 1000px) {

    .flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        margin: 40px;
    }
  }