/* =========== HOME =========== */
/*        Mondrian CSS        */

.home-container {
  display: grid;
  grid-template-columns: minmax(100px, 400px) minmax(100px, 400px);
  grid-template-rows: 1fr 2fr 1fr;
  gap: 50px;
  height: 90vh;
  margin: 20px;
  justify-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.headline {
  grid-column: span 2;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-description {
  font-size: 1rem;
  color: #444;
}

.subtext {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 2fr 5fr;
  gap: 1px;
}

.subtext-title {
  min-width: max-content;
  text-transform: capitalize;
  text-align: end;
  grid-column: span 2;
  align-content: end;
  margin-bottom: 0px;
}

.description {
  min-width: min-content;
  text-align: justify;
  grid-area: 2/2/-1/-1;
  padding-right: 10px;
}

.painting-list {
  grid-area: 2/2/-1/-1;
  list-style: none;
  padding: 0;
  text-align: start;
}

.painting-list li {
  margin: 15px 0;
}

.painting-list a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  transition: transform 0.2s ease, color 0.2s ease;
}

.painting-list a:hover {
  color: #E72F24;
  transform: scale(1.05);
}

.footer {
  text-align: end;
  font-size: 0.8rem;
  color: #555;
  padding-right: 45px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.footer a {
  color: #004592;
  text-decoration: none;
  font-weight: 500;
  border-bottom: transparent;
}

.footer a:hover {
  color: #E72F24;
  border-bottom: transparent;
}


/* -------------- thumbnail-1 -------------- */

.mondrian-thumbnail1 {
  background-color: #000;
  width: 206px;
  height: 204px;
  display: grid;
  grid-template-rows: 112px 35px 42px 6px;
  grid-template-columns: 87px 54px 42px 14px;
  gap: 3px;
}

.mondrian-thumbnail1:hover {
  background-color: #FFFFFF00;
  transition: ease 0.8s;
}

.mondrian-thumbnail1 {
  transition: ease 0.8s;
}

.mondrian-thumbnail1 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail1 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail1.zoomed {
  background-color: #FFFFFF00;
  transform: scale(10);
  translate: 130% ;
  transition: transform 0.8s ease;
}

.mondrian-thumbnail1.zoomed div {
  transition: none !important;
}

/* Disable rotation when thumbnail is zooming */
.mondrian-thumbnail1.zoomed div:hover {
  rotate: 0deg;
  pointer-events: none;
}

/* Layout copied from mondrian-1 */
.mondrian-thumbnail1 .two { grid-column: span 3; }
.mondrian-thumbnail1 .three { grid-row: span 2; }
.mondrian-thumbnail1 .four { grid-column: span 2; grid-row: span 2; }
.mondrian-thumbnail1 .six { grid-row: span 2; }

/* Tiles changing color on hover - remove & use elsewhere
.mondrian-thumbnail1 .white:hover { background-color:  #E72F24; }
.mondrian-thumbnail1 .four.white:hover { background-color: #004592; }
.mondrian-thumbnail1 .red:hover { background-color: #F9D01E; }
.mondrian-thumbnail1 .black:hover { background-color: #004592; }
.mondrian-thumbnail1 .blue:hover { background-color: #e4e7eb; }
.mondrian-thumbnail1 .yellow:hover { background-color: #232625; }
 */


/*transitions*/

.grid-container.main div {
  transition: ease 0.8s;
}

.grid-container.main div:hover {
  transform: scale(0.50);
  transition: ease 0.7s;
  rotate: 90deg;
  translate: -5%;
}






/* ================ MONDRIAN 1 ================ */
/* Composition No. III; With Red, Blue, Yellow and Black, 1929 */

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  flex-basis: 0;
  margin: 45px;
}

.mondrian-1 .grid-container {
  background-color: #000;
  width: 748px;
  height: 748px;
  display: grid;
  grid-template-rows: 414px 130px 155px 22px;
  grid-template-columns: 320px 198px 153px 50px;
  gap: 9px;
}

.red {
  background-color: #E72F24;
}

.mondrian-1 .blue {
  background-color: #004592;
  margin-bottom: 10px
}

.yellow {
  background-color: #F9D01E;
}

.black {
  background-color: #232625;
}

.mondrian-1 .two {
  grid-column: span 3;
}

.mondrian-1 .three {
  grid-row: span 2;
}

.mondrian-1 .four {
  grid-column: span 2;
  grid-row: span 2;
}

.mondrian-1 .six {
  grid-row: span 2;
}

.white {
  background-color: #F0F1EC;
}

.text {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mondrian-1 .text {
  width: 748px;
}

@media (max-width: 1000px) {

  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    margin: 45px;
  }
}


/* ==================== MONDRIAN 2 ==================== */
/* Composition: No. II, With Yellow, Red and Blue, 1927 */

.mondrian-2 .grid-container {
  flex-shrink: 0;

  display: grid;
  width: 561px;
  height: 748px;
  background-color: black;
  grid-template-rows: 1.5fr 3fr 1fr 0.1fr;
  grid-template-columns: 3fr 2fr;
  gap: 9px
}

.mondrian-2 .three {
  grid-row: span 2;
}

.mondrian-2 .five {
  grid-row: span 2;
  margin-top: 5px;
}

.blue {
  background-color: #004592;
}

.mondrian-2 .text {
  width: 561px;
}


/* ===================== MONDRIAN 3 ===================== */
/* Composition C (No.III) with Red, Yellow and Blue, 1935 */

.mondrian-3 .grid-container {
  background-color: #000;
  width: 640px;
  height: 642px;
  display: grid;
  grid-template-rows: 265px 155px 175px 20px;
  grid-template-columns: 70px 211px 186px 146px;
  gap: 9px;
}

.mondrian-3 .red {
  grid-area: 1 / 1 / 2 / 3;
}

.mondrian-3 .two {
  grid-column: span 2;
}

.mondrian-3 .three {
  grid-column: span 2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mondrian-3 .four {
  grid-column: span 2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mondrian-3 .yellow {
  grid-row: span 2;
}

.mondrian-3 .six {
  grid-row: span 2;
}

.mondrian-3 .eight {
  grid-row: span 2;
}

.mondrian-3 .text {
  width: 640px;
}


/* ================ MONDRIAN 4 ================ */
/* Composition with Red, Blue and Yellow, 1930 */

.mondrian-4 .grid-container {
  background-color: #000;
  width: 750px;
  height: 500px;
  display: grid;
  grid-template-rows: 313px 96px 57px;
  grid-template-columns: 183px 488px 45px;
  gap: 17px;
}

.mondrian-4 .one {
  margin-top: 27px;
}

.mondrian-4 .red {
  grid-column: span 2;
}

.mondrian-4 .blue {
  grid-row: span 2;
}

.mondrian-4 .four {
  grid-row: span 2;
}

.mondrian-4 .five {
  margin-bottom: 8px;
}

.mondrian-1 .text {
  width: 750px;
}

/* ============ MONDRIAN 5 ============ */
/* Tableau I, 1921 */

.mondrian-5 .grid-container {
  background-color: #000;
  width: 635px;
  height: 715px;
  display: grid;
  grid-template-rows: 12px 34px 234px 78px 176px 99px 22px;
  grid-template-columns: 55px 215px 183px 47px 95px;
  gap: 10px;
}

.mondrian-5 .red {
  grid-column: span 2;
}

.offwhite {
  background-color: #e4e7eb;
}

.mondrian-5 .two {
  grid-area: 1 / 3 / 5 / -2;
}

.mondrian-5 .black.three {
  grid-row: span 2;
}

.mondrian-5 .four {
  grid-area: 2 / 1 / 5 / 3;
}

.mondrian-5 .seven {
  grid-row: span 3;
}

.mondrian-5 .nine {
  grid-area: 5 / 3 / -2 / -2;
}

.mondrian-5 .yellow {
  grid-row: span 3;
}

.mondrian-5 .twelve {
  grid-column: span 2;
}

.mondrian-5 .text {
  width: 630px;
}


/* ====================== MONDRIAN 6 ====================== */
/* Composition with Yellow, Red, Black, Blue and Gray, 1920 */

.mondrian-6 .grid-container {
  width: 705px;
  height: 610px;
  display: grid;
  grid-template-rows: 5px 3px 10px 18px 84px 94px 179px 73px 73px 59px 12px;
  grid-template-columns: 7px 5px 70px 134px 282px 114px 83px 3px 7px;
  gap: 0px;
  justify-content: center;
  align-content: center;
}

.mondrian-6 .one.offwhite {
  grid-area: 4/1/6/4;
  border: black solid;
  border-width: 0px 5px 5px 0px;
}

.mondrian-6 .two {
  grid-area: 3/4/6/5;
  border: black solid;
  border-width: 0px 5px 5px 5px;
}

.mondrian-6 .three.yellow {
  grid-area: 3/5/6/6;
  border: black solid;
  border-width: 0px 5px 5px 5px;
}

.mondrian-6 .four.white {
  grid-area: 1/-5/5/-2;
  border: black solid;
  border-width: 0px 0px 5px 5px;
}

.mondrian-6 .five.black {
  grid-row: span 2;
  border: black solid 5px;
}

.mondrian-6 .six.offwhite {
  grid-area: 5/-4/8/-2;
  border: black solid;
  border-width: 5px 0px 5px 5px;
}

.mondrian-6 .seven.red {
  grid-row: span 4;
  border: black solid;
  border-width: 5px 5px 5px 0px;
}

.mondrian-6 .eight.black {
  grid-row: span 2;
  border: black solid 5px;
}

.mondrian-6 .nine {
  grid-row: span 2;
  border: black solid 5px;
}

.mondrian-6 .ten.yellow {
  border: black solid 5px;
}

.mondrian-6 .eleven {
  grid-row: span 2;
  border: black solid 5px;
}

.mondrian-6 .twelve.blue {
  grid-row: span 2;
  border: black solid 5px;
}

.mondrian-6 .thirteen {
  border: black solid 5px;
}

.mondrian-6 .fourteen {
  grid-area: 8/-4/10/-3;
  border: black solid;
  border-width: 5px 0px 5px 5px;
}

.mondrian-6 .fifteen {
  grid-area: 9/6/10/7;
  border: black solid 5px;
}

.mondrian-6 .sixteen {
  grid-area: 10/2/11/4;
  border: black solid;
  border-width: 5px 5px 0px 0px;
}

.mondrian-6 .seventeen {
  grid-area: 10/4/11/5;
  border: black solid;
  border-width: 5px 5px 0px 5px;
}

.mondrian-6 .eighteen {
  grid-column: span 3;
  border: black solid;
  border-width: 5px 0px 0px 5px;
}

.mondrian-6 .edge.offwhite1 {
  background-color: #e4e7eb;
  grid-area: 1/1/4/4;
}

.mondrian-6 .edge.offwhite2 {
  background-color: #e4e7eb;
  grid-area: 4/1/6/3;
}

.mondrian-6 .edge.white1 {
  background-color: #F0F1EC;
  grid-area: 1/4/3/5;
}

.mondrian-6 .edge.white2 {
  background-color: #F0F1EC;
  grid-area: 3/4/4/5;
  border-right: black solid 5px;
}

.mondrian-6 .edge.yellow1 {
  background-color: #F9D01E;
  grid-area: 1/5/2/6;
}

.mondrian-6 .edge.yellow2 {
  background-color: #F9D01E;
  grid-area: 2/5/3/6;
  border-right: black solid 5px;
}

.mondrian-6 .edge.white3 {
  background-color: #F0F1EC;
  grid-area: 1/-3/2/-5;
}

.mondrian-6 .edge.white4 {
  background-color: #F0F1EC;
  grid-area: 1/-2/5/-1;
}

.mondrian-6 .edge.offwhite3 {
  background-color: #e4e7eb;
  grid-area: 5/-2/8/-1;
}

.mondrian-6 .edge.red1 {
  background-color: #E72F24;
  grid-area: 6/1/10/2;
}

.mondrian-6 .edge.red2 {
  background-color: #E72F24;
  grid-area: 6/2/10/3;
  border-bottom: black solid 5px;
}

.mondrian-6 .edge.offwhite4 {
  background-color: #e4e7eb;
  grid-area: 8/-2/10/-1;
}

.mondrian-6 .edge.offwhite5 {
  background-color: #e4e7eb;
  grid-area: 8/-3/10/-2;
  border-top: black solid 5px;
}

.mondrian-6 .edge.white5 {
  background-color: #F0F1EC;
  grid-area: 10/1/12/2;
}

.mondrian-6 .edge.white6 {
  background-color: #F0F1EC;
  grid-area: 11/2/12/4;
}

.mondrian-6 .edge.offwhite6 {
  background-color: #e4e7eb;
  grid-area: 11/4/12/5;
}

.mondrian-6 .edge.white7 {
  background-color: #F0F1EC;
  grid-area: 11/5/12/-1;
}

.mondrian-6 .edge.white8 {
  background-color: #F0F1EC;
  grid-area: 10/-3/12/-1;
}


/* ========================== MONDRIAN 7 ========================== */
/* Composition No. XI; London, with Blue, Red and Yellow, 1940-1942 */

.mondrian-7 .grid-container {
  background-color: #000;
  width: 610px;
  height: 722px;
  display: grid;
  grid-template-rows: 10px 200px 78px 6px 8px 20px 20px 74px 68px 70px 38px;
  grid-template-columns: 8px 22px 230px 127px 96px 62px;
  gap: 13px;
}

.mondrian-7 .thicker-line {
  border-top: black solid 5px;
}

.mondrian-7 .two {
  grid-column: span 2;
}

.mondrian-7 .seven {
  grid-column: span 2;
}

.mondrian-7 .eleven.white {
  grid-area: 3/1/8/2;
}
.mondrian-7 .twelve {
  grid-area: 3/2/8/4;
}

.mondrian-7 .thirteen {
  grid-row: span 5;
}

.mondrian-7 .fourteen.blue {
  grid-row: span 2;
}

.mondrian-7 .fifteen.blue {
  grid-row: span 2;
}

.mondrian-7 .sixteen.red {
  grid-area: 4/1/6/2;
}

.mondrian-7 .seventeen.blue {
  grid-row: span 3;
  border-top: black solid 2px;
}

.mondrian-7 .eighteen.blue {
  grid-row: span 3;
  border-top: black solid 2px;
}

.mondrian-7 .twentyfive.white {
  border-bottom: black solid 4px;
}

.mondrian-7 .twentysix.white {
  grid-area: 9/2/-1/4;
}

.mondrian-7 .twentyseven.yellow {
  grid-row: span 2;
}

.mondrian-7 .thirty {
  grid-row: span 2;
  border-top: black solid 8px;
}

.mondrian-7 .text {
  width: 610px;
}