/* =========== HOME =========== */
/*        Mondrian CSS        */

body {
  margin: 0px;
}

.home-container {
  display: grid;
  width: auto;
  grid-template-columns: minmax(260px, 450px) minmax(260px, 450px) minmax(260px, 450px) minmax(260px, 450px);
  grid-template-rows: 150px minmax(105px, 140px) minmax(105px, 150px) minmax(50px, 80px) minmax(50px, 120px) minmax(155px, 190px) minmax(125px, 150px);
  gap: 10px;
  margin: 0px;
  justify-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.headline {
  grid-column: span 4;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-description {
  font-size: 1rem;
  color: #444;
}

.subtext {
  background-color: transparent;
  margin-left: 15px;
  grid-area: 4/2/6/4;
  display: grid;
  grid-template-columns: 0.5fr 2fr 3fr 1fr;
  grid-template-rows: 2fr 5fr;
  gap: 1px;
  transition: ease 0.5s;
}

.subtext:hover {
  transition: ease 0.5s;
  color: transparent;
  transform: scale(0.8);
}

.subtext-title {
  min-width: max-content;
  text-transform: capitalize;
  text-align: left;
  height: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 30px;
}

.description {
  min-width: min-content;
  text-align: justify;
  grid-area: 2/2/-1/4;
  padding-right: 10px;
  margin-top: 20px;
}

.footer {
  background-color: #000000;
  margin-top: 50px;
  padding: 1px 50px 1px 0px;
  color: #FFFFFF;
  text-align: end;
  font-size: 0.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  width: auto;
}

.footer a {
  color: #F9D01E;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  color: #E72F24;
}

@media (max-width: 1116px) {

  .home-container {
    grid-template-columns: minmax(240px, 350px) minmax(240px, 350px) minmax(260px, 340px);
    grid-template-rows: 140px 330px 290px 330px;
    gap: 0px;
    margin: 0px;
    padding: 0px;
  }

  .headline {
    grid-column: span 3;
  }

  .thumbnail-link.mini1 {
    grid-area: 2/1/3/2;
    justify-self: center;
  }

  .thumbnail-link.mini2 {
    grid-area: 2/2/3/3;
  }

  .thumbnail-link.mini3 {
    grid-area: 2/3/3/4;
  }

  .thumbnail-link.mini4 {
    grid-area: 3/1/4/2;
  }

  .thumbnail-link.mini5 {
    grid-area: 4/1/5/2;
  }

  .thumbnail-link.mini6 {
    grid-area: 4/2/5/3;
    justify-self: center;
  }

  .thumbnail-link.mini7 {
    grid-area: 4/3/5/4;
  }
  
  .subtext {
    grid-area: 3/2/4/4;
  }

  .footer {
    padding: 1px 45px 1px 0px;
    font-size: 0.75rem;
  }

  .thumbnail-link:hover {
    transform: scale(1.25);
  }

}


@media (max-width: 946px) {

  .home-container {
    grid-template-columns: minmax(290px, 350px) minmax(290px, 350px);
    grid-template-rows: 140px 400px 350px 400px 360px;

    margin: 0px;
    padding: 0px;
    justify-content: space-around;
  }

  .headline {
    grid-column: span 2;
  }

  .thumbnail-link.mini1 {
    grid-area: 2/1/3/2;
    align-self: center;
    justify-self: end;
  }

  .thumbnail-link.mini2 {
    grid-area: 2/2/3/3;
    align-self: center;
  }

  .thumbnail-link.mini3 {
    grid-area: 3/1/4/2;
    justify-self: end;
  }

  .thumbnail-link.mini4 {
    grid-area: 3/2/4/3;
  }

  .thumbnail-link.mini5 {
    grid-area: 4/2/5/3;
    justify-self: center;
  }

  .thumbnail-link.mini6 {
    grid-area: 5/1/6/2;
    justify-self: end;
  }

  .thumbnail-link.mini7 {
    grid-area: 5/2/5/3;
    justify-self: center;
  }
  
  .subtext {
    width: 260px;
    justify-self: end;
    grid-area: 4/1/5/2;
    align-self: flex-start;
    margin-right: 20px;
  }

  .footer {
    padding: 1px 45px 1px 0px;
    font-size: 0.75rem;
  }

  .thumbnail-link:hover {
    transform: scale(1.2);
  }
}

@media (max-width: 640px) {

  .home-container {
    grid-template-columns: minmax(220px, 400px);
    grid-template-rows: 200px 450px 450px 340px 380px 350px 400px 390px 390px;

    margin: 20px;
    padding: 0px;
    justify-content: center;
  }

  .headline {
    grid-column: span 1;
  }

  .thumbnail-link.mini1 {
    grid-area: 2/1/3/2;
    align-self: center;
    justify-self: center;
  }

  .thumbnail-link.mini2 {
    width: 168px;
    grid-area: 3/1/4/2;
    align-self: center;
    justify-self: center;
  }

  .thumbnail-link.mini3 {
    width: 211px;
    grid-area: 4/1/5/2;
    justify-self: center;
  }

  .thumbnail-link.mini4 {
    justify-self: center;
    width: 210px;
    grid-area: 6/1/7/2;
  }

  .thumbnail-link.mini5 {
    width: 211px;
    grid-area: 7/1/8/2;
    justify-self: center;
  }

  .thumbnail-link.mini6 {
    width: 211px;
    grid-area: 8/1/9/2;
    justify-self: center;
    margin-left: 30px;
  }

  .thumbnail-link.mini7 {
    grid-area: 9/1/10/2;
    justify-self: center;
    width: 214px;
  }
  
  .subtext {
    width: 260px;
    justify-self: center;
    grid-area: 5/1/6/2;
    align-self: flex-start;
    margin-right: 20px;
  }

  .footer {
    padding: 1px 45px 1px 0px;
    font-size: 0.75rem;
  }

  .thumbnail-link:hover {
    transform: scale(1.1);
  }
  
}

/* -------------- thumbnail-1 -------------- */

.mini1 {
  grid-area: 3/1/5/2;
  justify-self: center;
}

.thumbnail-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 30px;
  font-size: 0.9rem;
  color: #000;
  transition: transform 0.2s ease, color 0.2s ease;
  width: 206px;
  line-height: 1.3;
}

.thumbnail-link:hover {
  color: #E72F24;
  transform: scale(1.3);
  font-size: 0.95rem;
}

.mondrian-thumbnail1 {
  background-color: black;
  width: 206px;
  height: 204px;
  display: grid;
  grid-template-rows: 112px 35px 42px 6px;
  grid-template-columns: 87px 54px 42px 14px;
  gap: 3px;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-thumbnail1 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail1:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail1 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail1.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail1.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail1.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-1 */
.mondrian-thumbnail1 .two {
  grid-column: span 3; 
}

.mondrian-thumbnail1 .three,
.mondrian-thumbnail1 .six {
  grid-row: span 2; 
}

.mondrian-thumbnail1 .four {
  grid-column: span 2;
  grid-row: span 2; 
}

/* Tiles changing color on hover - remove & use elsewhere
.mondrian-thumbnail1 .white:hover { background-color:  #E72F24; }
.mondrian-thumbnail1 .four.white:hover { background-color: #004592; }
.mondrian-thumbnail1 .red:hover { background-color: #F9D01E; }
.mondrian-thumbnail1 .black:hover { background-color: #004592; }
.mondrian-thumbnail1 .blue:hover { background-color: #e4e7eb; }
.mondrian-thumbnail1 .yellow:hover { background-color: #232625; }
 */


/* -------------- thumbnail-2 -------------- */

.mini2 {
  grid-area: 2/2/4/3;
  justify-self: center;
}

 .mondrian-thumbnail2 {
  background-color: black;
  width: 168px;
  height: 224px;
  display: grid;
  grid-template-rows: 1.5fr 3fr 1fr 0.1fr;
  grid-template-columns: 3fr 2fr;
  gap: 3px;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-title2 {
  margin-left: 0px;
  width: 168px;
}

.mondrian-thumbnail2 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail2:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail2 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail2.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail2.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail2.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-2 */

.mondrian-thumbnail2 .three {
  grid-row: span 2;
}

.mondrian-thumbnail2 .five {
  grid-row: span 2;
  margin-top: 1px;
}


 /* -------------- thumbnail-3 -------------- */

 .mini3 {
  grid-area: 2/3/4/4;
  justify-self: center;
}

 .mondrian-thumbnail3 {
  background-color: black;
  width: 210.5px;
  height: 213.5px;
  display: grid;
  grid-template-rows: 88px 52px 58px 7px;
  grid-template-columns: 23px 70px 61px 48px;
  gap: 3px;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-title3 {
  margin-left: 0px;
  width: 210.5px;
}

.mondrian-thumbnail3 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail3:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail3 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail3.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail3.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail3.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-3 */

.mondrian-thumbnail3 .red {
  grid-area: 1 / 1 / 2 / 3;
}

.mondrian-thumbnail3 .two {
  grid-column: span 2;
}

.mondrian-thumbnail3 .three,
.mondrian-thumbnail3 .four {
  grid-column: span 2;
  margin-top: 1px;
  margin-bottom: 1px;
}

.mondrian-thumbnail3 .yellow,
.mondrian-thumbnail3 .six,
.mondrian-thumbnail3 .eight {
  grid-row: span 2;
}

/* -------------- thumbnail-4 -------------- */

.mini4 {
  grid-area: 3/4/5/5;
  justify-self: center;
  padding-right: 40px;
}

 .mondrian-thumbnail4 {
  background-color: black;
  width: 250px;
  height: 167px;
  display: grid;
  grid-template-rows: 104px 32px 19px;
  grid-template-columns: 61px 162px 15px;
  gap: 6px;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-title4 {
  margin-left: 0px;
  width: 250px;
}

.mondrian-thumbnail4 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail4:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail4 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail4.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail4.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail4.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-4 */

.mondrian-thumbnail4 .one {
  margin-top: 9px;
}

.mondrian-thumbnail4 .red {
  grid-column: span 2;
}

.mondrian-thumbnail4 .blue,
.mondrian-thumbnail4 .four {
  grid-row: span 2;
}

.mondrian-thumbnail4 .five {
  margin-bottom: 3px;
}

/* -------------- thumbnail-5 -------------- */

.mini5 {
  grid-area: 6/1/7/2;
  justify-self: end;
}

.mondrian-thumbnail5 {

  background-color: black;
  width: 211px;
  height: 235px;
  display: grid;
  grid-template-rows: 4px 11px 78px 26px 58px 33px 7px;
  grid-template-columns: 18px 72px 61px 16px 32px;
  gap: 3px;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-title5 {
  margin-left: 0px;
  width: 211px;
}

.mondrian-thumbnail5 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail5:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail5 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail5.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail5.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail5.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-5 */

.mondrian-thumbnail5 .red {
  grid-column: span 2;
}

.mondrian-thumbnail5 .two {
  grid-area: 1 / 3 / 5 / -2;
}

.mondrian-thumbnail5 .black.three {
  grid-row: span 2;
}

.mondrian-thumbnail5 .four {
  grid-area: 2 / 1 / 5 / 3;
}

.mondrian-thumbnail5 .seven {
  grid-row: span 3;
}

.mondrian-thumbnail5 .nine {
  grid-area: 5 / 3 / -2 / -2;
}

.mondrian-thumbnail5 .yellow {
  grid-row: span 3;
}

.mondrian-thumbnail5 .twelve {
  grid-column: span 2;
}

/* -------------- thumbnail-6 -------------- */

.mini6 {
  grid-area: 6/-2/7/-1;
  justify-self: start;
  margin-left: 0px;
}

.mondrian-thumbnail6 {
  width: 211px;
  height: 182px;
  display: grid;
  grid-template-rows: 2px 1px 3px 5px 25px 28px 54px 22px 22px 18px 4px;
  grid-template-columns: 2px 1px 21px 40px 85px 34px 25px 1px 2px;
  gap: 0px;
  justify-content: center;
  align-content: center;
  background-color: black;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-title6 {
  margin-left: 0px;
  width: 212px;
}

.mondrian-thumbnail6 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail6:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail6 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail6.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail6.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail6.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-5 */

.mondrian-thumbnail6 .one.offwhite {
  grid-area: 4/1/6/4;
  border: black solid;
  border-width: 0px 2px 2px 0px;
}

.mondrian-thumbnail6 .two {
  grid-area: 3/4/6/5;
  border: black solid;
  border-width: 0px 2px 2px 2px;
}

.mondrian-thumbnail6 .three.yellow {
  grid-area: 3/5/6/6;
  border: black solid;
  border-width: 0px 2px 2px 2px;
}

.mondrian-thumbnail6 .four.white {
  grid-area: 1/-5/5/-2;
  border: black solid;
  border-width: 0px 0px 2px 2px;
}

.mondrian-thumbnail6 .five.black {
  grid-area: 5/-5/7/-4;
  border: black solid 2px;
}

.mondrian-thumbnail6 .six.offwhite {
  grid-area: 5/-4/8/-2;
  border: black solid;
  border-width: 2px 0px 2px 2px;
}

.mondrian-thumbnail6 .seven.red {
  grid-area: 6/3/10/4;
  border: black solid;
  border-width: 2px 2px 2px 0px;
}

.mondrian-thumbnail6 .eight.black {
  grid-area: 6/4/8/5;
  border: black solid 2px;
}

.mondrian-thumbnail6 .nine {
  grid-area: 6/5/8/6;
  border: black solid 2px;
}

.mondrian-thumbnail6 .ten.yellow {
  grid-area: 7/6/8/7;
  border: black solid 2px;
}

.mondrian-thumbnail6 .eleven {
  grid-area: 8/4/10/5;
  border: black solid 2px;
}

.mondrian-thumbnail6 .twelve.blue {
  grid-area: 8/5/10/6;
  border: black solid 2px;
}

.mondrian-thumbnail6 .thirteen {
  grid-area: 8/6/9/7;
  border: black solid 2px;
}

.mondrian-thumbnail6 .fourteen {
  grid-area: 8/-4/10/-3;
  border: black solid;
  border-width: 2px 0px 2px 2px;
}

.mondrian-thumbnail6 .fifteen {
  grid-area: 9/6/10/7;
  border: black solid 2px;
}

.mondrian-thumbnail6 .sixteen {
  grid-area: 10/2/11/4;
  border: black solid;
  border-width: 2px 2px 0px 0px;
}

.mondrian-thumbnail6 .seventeen {
  grid-area: 10/4/11/5;
  border: black solid;
  border-width: 2px 2px 0px 2px;
}

.mondrian-thumbnail6 .eighteen {
  grid-area: 10/5/11/8;
  border: black solid;
  border-width: 2px 0px 0px 2px;
}

.mondrian-thumbnail6 .edge.offwhite1 {
  background-color: #e4e7eb;
  grid-area: 1/1/4/4;
}

.mondrian-thumbnail6 .edge.offwhite2 {
  background-color: #e4e7eb;
  grid-area: 4/1/6/3;
}

.mondrian-thumbnail6 .edge.white1 {
  background-color: #F0F1EC;
  grid-area: 1/4/3/5;
}

.mondrian-thumbnail6 .edge.white2 {
  background-color: #F0F1EC;
  grid-area: 3/4/4/5;
  border-right: black solid 2px;
}

.mondrian-thumbnail6 .edge.yellow1 {
  background-color: #F9D01E;
  grid-area: 1/5/2/6;
}

.mondrian-thumbnail6 .edge.yellow2 {
  background-color: #F9D01E;
  grid-area: 2/5/3/6;
  border-right: black solid 2px;
}

.mondrian-thumbnail6 .edge.white3 {
  background-color: #F0F1EC;
  grid-area: 1/-3/2/-5;
}

.mondrian-thumbnail6 .edge.white4 {
  background-color: #F0F1EC;
  grid-area: 1/-2/5/-1;
}

.mondrian-thumbnail6 .edge.offwhite3 {
  background-color: #e4e7eb;
  grid-area: 5/-2/8/-1;
}

.mondrian-thumbnail6 .edge.red1 {
  background-color: #E72F24;
  grid-area: 6/1/10/2;
}

.mondrian-thumbnail6 .edge.red2 {
  background-color: #E72F24;
  grid-area: 6/2/10/3;
  border-bottom: black solid 2px;
}

.mondrian-thumbnail6 .edge.offwhite4 {
  background-color: #e4e7eb;
  grid-area: 8/-2/10/-1;
}

.mondrian-thumbnail6 .edge.offwhite5 {
  background-color: #e4e7eb;
  grid-area: 8/-3/10/-2;
  border-top: black solid 2px;
}

.mondrian-thumbnail6 .edge.white5 {
  background-color: #F0F1EC;
  grid-area: 10/1/12/2;
}

.mondrian-thumbnail6 .edge.white6 {
  background-color: #F0F1EC;
  grid-area: 11/2/12/4;
}

.mondrian-thumbnail6 .edge.offwhite6 {
  background-color: #e4e7eb;
  grid-area: 11/4/12/5;
}

.mondrian-thumbnail6 .edge.white7 {
  background-color: #F0F1EC;
  grid-area: 11/5/12/-1;
}

.mondrian-thumbnail6 .edge.white8 {
  background-color: #F0F1EC;
  grid-area: 10/-3/12/-1;
}

/* -------------- thumbnail-7 -------------- */

.mini7 {
  width: 250px;
  justify-self: center;
  grid-area: 6/2/8/4;
}

.mondrian-thumbnail7 {
  background-color: black;
  width: 213px;
  height: 247px;
  display: grid;
  grid-template-rows: 4px 70px 27px 2px 3px 7px 7px 26px 24px 25px 13px;
  grid-template-columns: 3px 8px 81px 45px 34px 22px;
  gap: 4px;
  transition: transform 0.8s ease, background-color 0.4s ease;
  transform-origin: center;
}

.mondrian-title7 {
  margin-left: 0px;
  width: 213px;
}

.mondrian-thumbnail7 div {
  transition: ease 0.8s;
}

.mondrian-thumbnail7:hover {
  background-color: transparent;
  transform: scale(1.15);
}

.mondrian-thumbnail7 div:hover {
  transform: scale(1.3);
  rotate: -90deg;
  translate: 70%;
  transition: ease 0.8s;
}

.mondrian-thumbnail7.zoomed {
  transform: scale(10);
  translate: 150% -150%;
  animation: fadeToBlack 0.5s ease forwards 0.3s;
}

@keyframes fadeToBlack {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}

.mondrian-thumbnail7.zoomed div {
  animation: rotateBlocks 0.4s ease 0.2s;
}

@keyframes rotateBlocks {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 45deg;
  }
}

.mondrian-thumbnail7.zoomed *:hover {
  transform: none !important;
  rotate: 0deg !important;
  transition: none !important;
  pointer-events: none;
}

/* Layout copied from mondrian-7 */

.mondrian-thumbnail7 .thicker-line {
  border-top: black solid 2px;
}

.mondrian-thumbnail7 .two {
  grid-column: span 2;
}

.mondrian-thumbnail7 .seven {
  grid-column: span 2;
}

.mondrian-thumbnail7 .eleven.white {
  grid-area: 3/1/8/2;
}

.mondrian-thumbnail7 .twelve {
  grid-area: 3/2/8/4;
}

.mondrian-thumbnail7 .thirteen {
  grid-row: span 5;
}

.mondrian-thumbnail7 .fourteen.blue {
  grid-row: span 2;
}

.mondrian-thumbnail7 .fifteen.blue {
  grid-row: span 2;
}

.mondrian-thumbnail7 .sixteen.red {
  grid-area: 4/1/6/2;
}

.mondrian-thumbnail7 .seventeen.blue {
  grid-row: span 3;
  border-top: black solid 0.7px;
}

.mondrian-thumbnail7 .eighteen.blue {
  grid-row: span 3;
  border-top: black solid 0.7px;
}

.mondrian-thumbnail7 .twentyfive.white {
  border-bottom: black solid 1.4px;
}

.mondrian-thumbnail7 .twentysix.white {
  grid-area: 9/2/-1/4;
}

.mondrian-thumbnail7 .twentyseven.yellow {
  grid-row: span 2;
}

.mondrian-thumbnail7 .thirty {
  grid-row: span 2;
  border-top: black solid 2.8px;
}


/* ================ ALL MONDRIAN PAGES ================ */
/* ------------------- TRANSITIONS ------------------- */

.grid-container.main {
  transform-origin: center;
  animation: backgroundFadeZoomOut 1s ease forwards;
}

@keyframes backgroundFadeZoomOut {
  0% {
    background-color: #000000;
    transform: scale(10);
    opacity: 0;
  }

  100% {
    background-color: #000000;
    transform: scale(1);
    opacity: 1;
  }
}

.grid-container.main div {
  animation: rotateColors 1.8s ease forwards;
}

@keyframes rotateColors {
  0% {
    rotate: -45deg;
  }

  100% {
    rotate: 0deg;
  }
}

.grid-container.main .white {
  animation: rotateWhites 1s ease forwards;
}

@keyframes rotateWhites {
  0% {
    rotate: -45deg;
    motion-rotation: reverse;
  }

  100% {
    rotate: 0deg;
    motion-rotation: reverse;
  }
}

.grid-container.main .five {
  animation: rotateFives 2.5s ease forwards;
}

@keyframes rotateFives {
  0% {
    rotate: -45deg;
  }

  100% {
    rotate: 0deg;
  }
}


/* On Hover transitions on All Mondrian Pages */

.grid-container.main div {
  transition: ease 0.8s;
}

.grid-container.main div:hover {
  transform: scale(0.50);
  transition: ease 0.7s;
}


/* ======================== MONDRIAN 1 ======================== */
/* Composition No. III; With Red, Blue, Yellow and Black, 1929 */

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  flex-basis: 0;
  margin: 45px;
}

.mondrian-1 .grid-container {
  background-color: #000000;
  width: 748px;
  height: 748px;
  display: grid;
  grid-template-rows: 414px 130px 155px 22px;
  grid-template-columns: 320px 198px 153px 50px;
  gap: 9px;
}

.red {
  background-color: #E72F24;
}

.mondrian-1 .blue {
  background-color: #004592;
  margin-bottom: 10px
}

.yellow {
  background-color: #F9D01E;
}

.black {
  background-color: #232625;
}

.mondrian-1 .two {
  grid-column: span 3;
}

.mondrian-1 .three {
  grid-row: span 2;
}

.mondrian-1 .four {
  grid-column: span 2;
  grid-row: span 2;
}

.mondrian-1 .six {
  grid-row: span 2;
}

.white {
  background-color: #F0F1EC;
}

.text {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mondrian-1 .text {
  width: 748px;
}

@media (max-width: 1000px) {

  .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    margin: 45px;
  }
}


/* ==================== MONDRIAN 2 ==================== */
/* Composition: No. II, With Yellow, Red and Blue, 1927 */

.mondrian-2 .grid-container {
  flex-shrink: 0;

  display: grid;
  width: 561px;
  height: 748px;
  background-color: black;
  grid-template-rows: 1.5fr 3fr 1fr 0.1fr;
  grid-template-columns: 3fr 2fr;
  gap: 9px
}

.mondrian-2 .three {
  grid-row: span 2;
}

.mondrian-2 .five {
  grid-row: span 2;
  margin-top: 5px;
}

.blue {
  background-color: #004592;
}

.mondrian-2 .text {
  width: 561px;
}


/* ===================== MONDRIAN 3 ===================== */
/* Composition C (No.III) with Red, Yellow and Blue, 1935 */

.mondrian-3 .grid-container {
  background-color: #000;
  width: 640px;
  height: 642px;
  display: grid;
  grid-template-rows: 265px 155px 175px 20px;
  grid-template-columns: 70px 211px 186px 146px;
  gap: 9px;
}

.mondrian-3 .red {
  grid-area: 1 / 1 / 2 / 3;
}

.mondrian-3 .two {
  grid-column: span 2;
}

.mondrian-3 .three,
.mondrian-3 .four {
  grid-column: span 2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mondrian-3 .yellow {
  grid-row: span 2;
}

.mondrian-3 .six {
  grid-row: span 2;
}

.mondrian-3 .eight {
  grid-row: span 2;
}

.mondrian-3 .text {
  width: 640px;
}


/* ================ MONDRIAN 4 ================ */
/* Composition with Red, Blue and Yellow, 1930 */

.mondrian-4 .grid-container {
  background-color: #000;
  width: 750px;
  height: 500px;
  display: grid;
  grid-template-rows: 313px 96px 57px;
  grid-template-columns: 183px 488px 45px;
  gap: 17px;
}

.mondrian-4 .one {
  margin-top: 27px;
}

.mondrian-4 .red {
  grid-column: span 2;
}

.mondrian-4 .blue {
  grid-row: span 2;
}

.mondrian-4 .four {
  grid-row: span 2;
}

.mondrian-4 .five {
  margin-bottom: 8px;
}

.mondrian-1 .text {
  width: 750px;
}

/* ============ MONDRIAN 5 ============ */
/* Tableau I, 1921 */

.mondrian-5 .grid-container {
  background-color: #000;
  width: 635px;
  height: 715px;
  display: grid;
  grid-template-rows: 12px 34px 234px 78px 176px 99px 22px;
  grid-template-columns: 55px 215px 183px 47px 95px;
  gap: 10px;
}

.mondrian-5 .red {
  grid-column: span 2;
}

.offwhite {
  background-color: #e4e7eb;
}

.mondrian-5 .two {
  grid-area: 1 / 3 / 5 / -2;
}

.mondrian-5 .black.three {
  grid-row: span 2;
}

.mondrian-5 .four {
  grid-area: 2 / 1 / 5 / 3;
}

.mondrian-5 .seven {
  grid-row: span 3;
}

.mondrian-5 .nine {
  grid-area: 5 / 3 / -2 / -2;
}

.mondrian-5 .yellow {
  grid-row: span 3;
}

.mondrian-5 .twelve {
  grid-column: span 2;
}

.mondrian-5 .text {
  width: 630px;
}


/* ====================== MONDRIAN 6 ====================== */
/* Composition with Yellow, Red, Black, Blue and Gray, 1920 */

.mondrian-6 .grid-container {
  width: 705px;
  height: 610px;
  display: grid;
  grid-template-rows: 5px 3px 10px 18px 84px 94px 179px 73px 73px 59px 12px;
  grid-template-columns: 7px 5px 70px 134px 282px 114px 83px 3px 7px;
  gap: 0px;
  justify-content: center;
  align-content: center;
}

.mondrian-6 .one.offwhite {
  grid-area: 4/1/6/4;
  border: black solid;
  border-width: 0px 5px 5px 0px;
}

.mondrian-6 .two {
  grid-area: 3/4/6/5;
  border: black solid;
  border-width: 0px 5px 5px 5px;
}

.mondrian-6 .three.yellow {
  grid-area: 3/5/6/6;
  border: black solid;
  border-width: 0px 5px 5px 5px;
}

.mondrian-6 .four.white {
  grid-area: 1/-5/5/-2;
  border: black solid;
  border-width: 0px 0px 5px 5px;
}

.mondrian-6 .five.black {
  grid-area: 5/6/7/7;
  border: black solid 5px;
}

.mondrian-6 .six.offwhite {
  grid-area: 5/-4/8/-2;
  border: black solid;
  border-width: 5px 0px 5px 5px;
}

.mondrian-6 .seven.red {
  grid-area: 6/3/10/4;
  border: black solid;
  border-width: 5px 5px 5px 0px;
}

.mondrian-6 .eight.black {
  grid-area: 6/4/8/5;
  border: black solid 5px;
}

.mondrian-6 .nine {
  grid-area: 6/5/8/6;
  border: black solid 5px;
}

.mondrian-6 .ten.yellow {
  grid-area: 7/6/8/7;
  border: black solid 5px;
}

.mondrian-6 .eleven {
  grid-area: 8/4/10/5;
  border: black solid 5px;
}

.mondrian-6 .twelve.blue {
  grid-area: 8/5/10/6;
  border: black solid 5px;
}

.mondrian-6 .thirteen {
  grid-area: 8/6/9/7;
  border: black solid 5px;
}

.mondrian-6 .fourteen {
  grid-area: 8/-4/10/-3;
  border: black solid;
  border-width: 5px 0px 5px 5px;
}

.mondrian-6 .fifteen {
  grid-area: 9/6/10/7;
  border: black solid 5px;
}

.mondrian-6 .sixteen {
  grid-area: 10/2/11/4;
  border: black solid;
  border-width: 5px 5px 0px 0px;
}

.mondrian-6 .seventeen {
  grid-area: 10/4/11/5;
  border: black solid;
  border-width: 5px 5px 0px 5px;
}

.mondrian-6 .eighteen {
  grid-area: 10/5/11/8;
  border: black solid;
  border-width: 5px 0px 0px 5px;
}

.mondrian-6 .edge.offwhite1 {
  background-color: #e4e7eb;
  grid-area: 1/1/4/4;
}

.mondrian-6 .edge.offwhite2 {
  background-color: #e4e7eb;
  grid-area: 4/1/6/3;
}

.mondrian-6 .edge.white1 {
  background-color: #F0F1EC;
  grid-area: 1/4/3/5;
}

.mondrian-6 .edge.white2 {
  background-color: #F0F1EC;
  grid-area: 3/4/4/5;
  border-right: black solid 5px;
}

.mondrian-6 .edge.yellow1 {
  background-color: #F9D01E;
  grid-area: 1/5/2/6;
}

.mondrian-6 .edge.yellow2 {
  background-color: #F9D01E;
  grid-area: 2/5/3/6;
  border-right: black solid 5px;
}

.mondrian-6 .edge.white3 {
  background-color: #F0F1EC;
  grid-area: 1/-3/2/-5;
}

.mondrian-6 .edge.white4 {
  background-color: #F0F1EC;
  grid-area: 1/-2/5/-1;
}

.mondrian-6 .edge.offwhite3 {
  background-color: #e4e7eb;
  grid-area: 5/-2/8/-1;
}

.mondrian-6 .edge.red1 {
  background-color: #E72F24;
  grid-area: 6/1/10/2;
}

.mondrian-6 .edge.red2 {
  background-color: #E72F24;
  grid-area: 6/2/10/3;
  border-bottom: black solid 5px;
}

.mondrian-6 .edge.offwhite4 {
  background-color: #e4e7eb;
  grid-area: 8/-2/10/-1;
}

.mondrian-6 .edge.offwhite5 {
  background-color: #e4e7eb;
  grid-area: 8/-3/10/-2;
  border-top: black solid 5px;
}

.mondrian-6 .edge.white5 {
  background-color: #F0F1EC;
  grid-area: 10/1/12/2;
}

.mondrian-6 .edge.white6 {
  background-color: #F0F1EC;
  grid-area: 11/2/12/4;
}

.mondrian-6 .edge.offwhite6 {
  background-color: #e4e7eb;
  grid-area: 11/4/12/5;
}

.mondrian-6 .edge.white7 {
  background-color: #F0F1EC;
  grid-area: 11/5/12/-1;
}

.mondrian-6 .edge.white8 {
  background-color: #F0F1EC;
  grid-area: 10/-3/12/-1;
}


/* ========================== MONDRIAN 7 ========================== */
/* Composition No. XI; London, with Blue, Red and Yellow, 1940-1942 */

.mondrian-7 .grid-container {
  background-color: #000;
  width: 610px;
  height: 722px;
  display: grid;
  grid-template-rows: 10px 200px 78px 6px 8px 20px 20px 74px 68px 70px 38px;
  grid-template-columns: 8px 22px 230px 127px 96px 62px;
  gap: 13px;
}

.mondrian-7 .thicker-line {
  border-top: black solid 5px;
}

.mondrian-7 .two {
  grid-column: span 2;
}

.mondrian-7 .seven {
  grid-column: span 2;
}

.mondrian-7 .eleven.white {
  grid-area: 3/1/8/2;
}
.mondrian-7 .twelve {
  grid-area: 3/2/8/4;
}

.mondrian-7 .thirteen {
  grid-row: span 5;
}

.mondrian-7 .fourteen.blue {
  grid-row: span 2;
}

.mondrian-7 .fifteen.blue {
  grid-row: span 2;
}

.mondrian-7 .sixteen.red {
  grid-area: 4/1/6/2;
}

.mondrian-7 .seventeen.blue {
  grid-row: span 3;
  border-top: black solid 2px;
}

.mondrian-7 .eighteen.blue {
  grid-row: span 3;
  border-top: black solid 2px;
}

.mondrian-7 .twentyfive.white {
  border-bottom: black solid 4px;
}

.mondrian-7 .twentysix.white {
  grid-area: 9/2/-1/4;
}

.mondrian-7 .twentyseven.yellow {
  grid-row: span 2;
}

.mondrian-7 .thirty {
  grid-row: span 2;
  border-top: black solid 8px;
}

.mondrian-7 .text {
  width: 610px;
}